@font-face {
  font-family: gyst;
  src: url(gyst-regular.otf);
}
@font-face {
  font-family: inria;
  src: url(InriaSerif-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(Poppins-Regular.ttf);
}
body {
  margin: 0;
  font-family: poppins, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subfooter {
  background-color: #eef3f2;
  margin-top: 2em;
  padding: 40px;
  color: #0b524c;
  font-family: poppins;
}

.subscribe-btn {
  background-color: #0b524c;
  color: #f19edc;
  border-radius: 80px;
  border: none;
  padding: 25px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.subscribe-btn:hover {
  background-color: #093e38;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #b1f8b6; /*#bfe7c2*/
  padding: 50px 100px;
  /*margin-top: 40px;*/
  font-family: inria;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #6b4a8b;
  height: ;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 75px;
  font-size: 20px;
  margin-top: ;
}



header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: poppins;
}

.page-content {
  margin-top: 91px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}
.nav-links li {
  display: flex;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  color: #554293;
  font-size: 1.1em;
}
.nav-links li a.active {
  font-weight: bold;
}

.it {
  font-style: italic;
}

input[type="text"] {
  color: #554293;
  font-family: poppins, sans-serif;
  background-color: #f5f3f7;
  border: none;
  font-size: 1em;
  text-align: center;
  width: 150px;
  padding: 6px 12px;
  border-radius: 9px;
}

input[type="text"]::placeholder {
  color: #554293;
  opacity: 1;
}

input[type="text"]:focus {
  background-color: #f5f3f7;
  border: none;
}

.nav-links li img {
  width: 20px;
  height: auto;
  cursor: pointer;
}
