@font-face {
    font-family: gyst;
    src: url(gyst-regular.otf);
  }
body {
  margin: 0;
font-family: gyst, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
